POSTGRES_USER=online_cinema_user
POSTGRES_PASSWORD=online_cinema_password
POSTGRES_DB=online_cinema_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://online_cinema_user:online_cinema_password@db:5432/online_cinema_db

SECRET_KEY=change-me

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1